In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv("insurance.csv")

In [3]:
print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Checking NaN Value

In [103]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Encoding the Categorical Data

1.) Using Map

In [104]:
 df["sex"] = df["sex"].map({"male":0, "female":1})

In [55]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    1  27.900         0    yes  southwest  16884.92400
1   18    0  33.770         1     no  southeast   1725.55230
2   28    0  33.000         3     no  southeast   4449.46200
3   33    0  22.705         0     no  northwest  21984.47061
4   32    0  28.880         0     no  northwest   3866.85520

In [105]:
df["smoker"] = df["smoker"].map({"no":0, "yes":1})

In [57]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    1  27.900         0       1  southwest  16884.92400
1   18    0  33.770         1       0  southeast   1725.55230
2   28    0  33.000         3       0  southeast   4449.46200
3   33    0  22.705         0       0  northwest  21984.47061
4   32    0  28.880         0       0  northwest   3866.85520

2.) Using Label Encoder

In [106]:
from sklearn.preprocessing import LabelEncoder

In [107]:
df["region"] = LabelEncoder().fit_transform(df["region"])

In [60]:
df.head(10)

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       3  16884.92400
1   18    0  33.770         1       0       2   1725.55230
2   28    0  33.000         3       0       2   4449.46200
3   33    0  22.705         0       0       1  21984.47061
4   32    0  28.880         0       0       1   3866.85520
5   31    1  25.740         0       0       2   3756.62160
6   46    1  33.440         1       0       2   8240.58960
7   37    1  27.740         3       0       1   7281.50560
8   37    0  29.830         2       0       0   6406.41070
9   60    1  25.840         0       0       1  28923.13692

Normalization

In [108]:
from sklearn.preprocessing import MinMaxScaler

In [109]:
df2 = df.copy()

In [110]:
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       3  16884.92400
1   18    0  33.770         1       0       2   1725.55230
2   28    0  33.000         3       0       2   4449.46200
3   33    0  22.705         0       0       1  21984.47061
4   32    0  28.880         0       0       1   3866.85520

In [111]:
df2["age"] = MinMaxScaler().fit_transform(df2[["age"]])

In [65]:
df2.head()

        age  sex     bmi  children  smoker  region      charges
0  0.021739    1  27.900         0       1       3  16884.92400
1  0.000000    0  33.770         1       0       2   1725.55230
2  0.217391    0  33.000         3       0       2   4449.46200
3  0.326087    0  22.705         0       0       1  21984.47061
4  0.304348    0  28.880         0       0       1   3866.85520

In [112]:
df2["bmi"] = MinMaxScaler().fit_transform(df2[["bmi"]])

In [67]:
df2.head()

        age  sex       bmi  children  smoker  region      charges
0  0.021739    1  0.321227         0       1       3  16884.92400
1  0.000000    0  0.479150         1       0       2   1725.55230
2  0.217391    0  0.458434         3       0       2   4449.46200
3  0.326087    0  0.181464         0       0       1  21984.47061
4  0.304348    0  0.347592         0       0       1   3866.85520

In [113]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   float64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int32
 6   charges   1338 non-null   float64
dtypes: float64(3), int32(1), int64(3)
memory usage: 68.1 KB

In [114]:
# Separate features and target 
features = ["age", "sex", "bmi", "smoker", "region"]
X = df2[features].values
Y = df2["charges"].values

In [115]:
df2[features]

           age  sex       bmi  smoker  region
0     0.021739    1  0.321227       1       3
1     0.000000    0  0.479150       0       2
2     0.217391    0  0.458434       0       2
3     0.326087    0  0.181464       0       1
4     0.304348    0  0.347592       0       1
...        ...  ...       ...     ...     ...
1333  0.695652    0  0.403820       0       1
1334  0.000000    1  0.429379       0       0
1335  0.000000    1  0.562012       0       2
1336  0.065217    1  0.264730       0       3
1337  0.934783    1  0.352704       1       1

[1338 rows x 5 columns]

In [116]:
# Get the values in the numpy array
df2[features].values

array([[0.02173913, 1.        , 0.3212268 , 1.        , 3.        ],
       [0.        , 0.        , 0.47914985, 0.        , 2.        ],
       [0.2173913 , 0.        , 0.45843422, 0.        , 2.        ],
       ...,
       [0.        , 1.        , 0.56201238, 0.        , 2.        ],
       [0.06521739, 1.        , 0.26472962, 0.        , 3.        ],
       [0.93478261, 1.        , 0.35270379, 1.        , 1.        ]])

In [117]:
# Printing the features and labels
print("Features:", X[:10], '\nLabels:', Y[:10], sep='\n')

Features:
[[0.02173913 1.         0.3212268  1.         3.        ]
 [0.         0.         0.47914985 0.         2.        ]
 [0.2173913  0.         0.45843422 0.         2.        ]
 [0.32608696 0.         0.18146355 0.         1.        ]
 [0.30434783 0.         0.34759214 0.         1.        ]
 [0.2826087  1.         0.26311542 0.         2.        ]
 [0.60869565 1.         0.47027172 0.         2.        ]
 [0.41304348 1.         0.31692225 0.         1.        ]
 [0.41304348 0.         0.37315039 0.         0.        ]
 [0.91304348 1.         0.26580576 0.         1.        ]]

Labels:
[16884.924    1725.5523   4449.462   21984.47061  3866.8552   3756.6216
  8240.5896   7281.5056   6406.4107  28923.13692]

In [118]:
from sklearn.model_selection import train_test_split

In [79]:
# Spilt data 70%-30% into training and test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)

# '''
# X_train: training data feature
# X_test: testing data feature
# Y_train: training data target
# Y_test: testing data target
# '''

In [119]:
Y_test

array([9.71709242e-02, 1.90268511e-01, 8.35517575e-02, 8.13736897e-03,
       9.70465645e-02, 7.98605183e-03, 1.15127695e-01, 7.59022863e-01,
       5.90666028e-01, 2.34580223e-01, 1.64922363e-01, 9.74697954e-02,
       4.97700034e-02, 1.62248993e-01, 8.10006579e-02, 1.11644954e-01,
       2.14570156e-03, 1.19465542e-01, 6.19473004e-02, 1.80837821e-02,
       9.67158953e-03, 1.73319810e-02, 3.44460408e-02, 3.94629531e-02,
       8.84995540e-02, 4.37254425e-02, 3.28011082e-02, 1.28845186e-01,
       1.61720366e-01, 1.39728787e-01, 4.55086449e-02, 3.86464768e-01,
       6.80485987e-01, 1.10877437e-01, 8.73385584e-02, 1.62016245e-02,
       5.83848814e-02, 1.59041386e-01, 1.15029806e-02, 8.69796682e-02,
       8.62167195e-01, 9.37055704e-03, 1.60286127e-01, 6.18527130e-01,
       8.16686701e-02, 7.25910361e-01, 1.65854284e-01, 1.81543167e-01,
       1.65379091e-01, 9.93352550e-02, 1.11651517e-01, 1.71125256e-01,
       1.46904142e-01, 1.82800310e-01, 4.51014272e-02, 1.96800202e-01,
       1.98458387e-01, 1.30614794e-01, 6.01316815e-02, 9.59643632e-02,
       5.80421622e-01, 8.54311672e-02, 6.21019456e-02, 4.71292569e-02,
       2.48941100e-04, 7.17254399e-02, 6.54290626e-01, 7.30737312e-02,
       9.45727860e-02, 3.97408639e-01, 1.39635087e-01, 1.14618156e-01,
       5.99999898e-01, 1.63465562e-01, 1.65469789e-01, 3.03717289e-01,
       1.59169659e-01, 2.56313148e-01, 9.53832708e-03, 3.82449272e-01,
       1.57026068e-01, 1.22004014e-01, 1.69854311e-01, 1.29301128e-01,
       5.43119551e-01, 1.62558590e-01, 1.43424646e-01, 3.37846871e-02,
       1.69539828e-01, 3.08047504e-01, 1.14218903e-01, 6.58302998e-02,
       2.17381250e-02, 5.71072384e-01, 6.36124673e-01, 3.38550398e-01,
       4.42895936e-01, 3.61305266e-02, 1.16388786e-01, 1.75632441e-01,
       2.47984072e-01, 1.86362413e-01, 8.88218009e-02, 7.30541797e-01,
       1.88692032e-02, 1.64010590e-01, 7.19662890e-02, 1.72687473e-02,
       1.00066172e-02, 3.12093651e-02, 1.14268380e-01, 1.11128597e-01,
       1.68173793e-01, 1.28058679e-01, 9.27614122e-02, 5.93164138e-01,
       5.59882436e-01, 6.83165165e-01, 6.92426584e-01, 5.28585830e-02,
       2.03773172e-01, 5.33890614e-02, 2.66116836e-02, 5.69194796e-02,
       6.93768317e-01, 1.88914880e-01, 2.23445061e-03, 3.79788053e-01,
       7.32178606e-02, 1.57395929e-01, 3.30017616e-01, 5.86411443e-02,
       1.72537922e-01, 5.74293007e-02, 4.57786639e-02, 8.48183949e-02,
       1.66212914e-01, 1.77334335e-01, 1.12527593e-02, 1.36034721e-01,
       5.94150857e-01, 1.89301604e-01, 1.05473653e-01, 6.57459882e-02,
       3.79066416e-01, 3.27829692e-01, 1.32374102e-01, 2.44197506e-01,
       7.96723439e-02, 8.66940519e-03, 1.38343049e-01, 1.44215767e-01,
       1.42403528e-01, 3.09765226e-02, 2.93979157e-01, 7.97403974e-02,
       1.18038719e-01, 3.56208764e-02, 9.66767883e-03, 4.16554918e-01,
       7.61431397e-01, 1.78807991e-01, 8.28731832e-02, 3.06844975e-02,
       3.20866175e-01, 1.33534930e-01, 1.25219865e-02, 7.65896399e-02,
       9.50591053e-02, 5.31151620e-02, 3.96991559e-01, 3.63388894e-01,
       1.38175149e-01, 8.26338624e-03, 9.93840670e-02, 1.06663062e-01,
       1.28658933e-01, 1.58843284e-01, 4.58478881e-02, 6.00564239e-01,
       4.03367432e-01, 6.13495733e-01, 3.33114328e-02, 4.10473017e-02,
       4.00882453e-01, 6.63842934e-04, 1.47459325e-02, 4.49061601e-02,
       1.25205154e-01, 1.13365761e-02, 1.10158353e-01, 2.07470807e-01,
       3.32747895e-02, 1.56785662e-02, 2.88145644e-02, 1.93252234e-01,
       2.92463125e-01, 2.03661126e-01, 5.29641805e-01, 6.04089879e-02,
       1.49597577e-01, 3.22861914e-01, 1.96224229e-01, 6.61778122e-02,
       7.22736728e-02, 7.37182713e-01, 3.92340228e-02, 1.72761510e-01,
       9.95442247e-02, 1.10790906e-01, 5.23213528e-02, 1.68435748e-01,
       3.73372023e-01, 2.11281659e-01, 6.02229286e-02, 5.77000983e-01,
       1.26969331e-02, 2.06721626e-02, 7.91802967e-02, 1.83926274e-01,
       2.82277410e-01, 8.43520952e-02, 7.40234491e-01, 1.34738227e-01,
       2.59222139e-01, 2.72891972e-01, 1.63965343e-01, 1.31518644e-01,
       3.94200015e-02, 1.48657722e-01, 8.80893586e-02, 4.34460385e-01,
       5.38029657e-01, 9.14171473e-02, 5.48985471e-02, 6.71288653e-02,
       2.15720892e-02, 4.86812946e-01, 1.68180117e-01, 2.79759813e-01,
       8.95029595e-03, 1.53475160e-01, 6.39015833e-02, 1.93084281e-02,
       1.22959136e-01, 5.39272677e-02, 3.95176255e-02, 7.75175432e-03,
       6.27263402e-01, 1.14083560e-01, 1.58896716e-02, 4.83515517e-02,
       6.82769188e-01, 1.44870036e-01, 4.12217111e-02, 1.71753297e-01,
       3.33010027e-01, 1.91895745e-01, 1.39400783e-01, 2.53355887e-02,
       9.46353541e-02, 6.05470630e-02, 3.31910493e-02, 1.09063061e-01,
       1.50924682e-01, 1.48674175e-01, 1.13629369e-01, 1.35652880e-01,
       1.99294222e-01, 1.60082004e-01, 1.80516208e-01, 2.14989130e-01,
       3.73732882e-01, 6.92142478e-02, 8.13980957e-03, 7.74240391e-02,
       9.03369660e-02, 5.15357544e-02, 3.12651213e-01, 3.62575399e-02,
       9.90154424e-02, 5.13749606e-02, 8.10808178e-03, 2.73547288e-01,
       2.02732996e-01, 2.31295353e-01, 1.91664104e-02, 5.42223583e-02,
       5.59112817e-01, 1.19610519e-01, 9.65941854e-02, 2.05579523e-01,
       1.25725735e-02, 1.46014321e-01, 1.35071264e-01, 1.85305565e-01,
       4.39823455e-02, 8.69879629e-02, 2.93600833e-01, 3.01487561e-01,
       9.45532612e-02, 5.46279311e-02, 3.99346589e-01, 1.90619070e-01,
       4.60273767e-02, 5.16399747e-02, 4.88953663e-02, 1.81294448e-01,
       8.41476651e-02, 2.16941192e-02, 2.53376965e-02, 3.12396675e-04,
       3.74807923e-01, 1.77218407e-01, 9.63595104e-03, 3.75835411e-01,
       1.00944773e-01, 4.16729681e-02, 3.27180895e-02, 5.75325168e-01,
       5.39962741e-02, 1.83906940e-01, 1.57296078e-01, 1.77875342e-01,
       6.60764739e-02, 7.52554718e-02, 1.11796844e-01, 5.64963150e-02,
       1.64246586e-01, 4.43765437e-01, 1.90354887e-01, 7.27810721e-01,
       1.64184970e-02, 6.51688946e-01, 2.12834443e-01, 6.22233293e-01,
       2.74369750e-01, 1.00000000e+00, 1.63313485e-01, 1.04033423e-01,
       1.47633713e-01, 9.79248330e-02, 1.79178885e-01, 5.61639848e-01,
       9.97612505e-02, 7.73816598e-02, 2.07684982e-01, 4.20560017e-02,
       2.54978885e-02, 7.12296056e-02, 4.64554504e-02, 7.73363978e-02,
       1.57123692e-01, 1.56490571e-02, 1.63761984e-01, 3.79123051e-01,
       1.09573181e-01, 5.66895494e-02, 2.38844357e-01, 5.63072885e-01,
       3.00271640e-01, 7.54214326e-02, 3.58206867e-01, 2.03079421e-01,
       7.39698158e-01, 2.86024192e-01, 2.13193763e-02, 4.04561986e-01,
       2.85991453e-02, 4.71618722e-02, 5.10552397e-02, 1.72645317e-02,
       8.84747003e-02, 1.26517739e-01, 3.89398288e-01, 3.78089364e-02,
       7.55648501e-02, 8.11196351e-02, 1.81391688e-01, 1.92860185e-01,
       1.39681230e-01, 1.80100010e-01, 1.13502458e-01, 1.24013486e-01,
       6.37083299e-01, 1.47389947e-01, 5.38192774e-01, 2.03084069e-01,
       1.03379521e-02, 2.67885722e-01, 1.32661504e-01, 1.43548963e-01,
       8.57962674e-02, 4.18591754e-01, 5.35531486e-01, 5.68970003e-02,
       6.88585341e-01, 3.00771066e-01, 5.05447973e-01, 1.83680084e-01,
       2.68485559e-01, 3.62417191e-02])

In [120]:
# Train the model
from sklearn.linear_model import LinearRegression

In [121]:
# Fit a linear regression model on the training set

model = LinearRegression().fit(X_train, Y_train)
print(model)

LinearRegression()

Evaluate the train model

In [122]:
import numpy as np
predictions = model.predict(X_test)

In [123]:
# Predicted
print("Predicted labels: ", np.round(predictions, 0)[:10])
print("Actual labels: ", Y_test[:10])

Predicted labels:  [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
Actual labels:  [0.09717092 0.19026851 0.08355176 0.00813737 0.09704656 0.00798605
 0.1151277  0.75902286 0.59066603 0.23458022]

In [124]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(Y_test, predictions)
print("MSE:", mse)

rmse = np.sqrt(mse)
print("RMSE:", rmse)

r2 = r2_score(Y_test, predictions)
print("R2:", r2*100)

MSE: 0.008904997226378154
RMSE: 0.09436629285066864
R2: 75.16282039732984

Used the Trained Model

In [125]:
model

LinearRegression()

In [126]:
pwd

'C:\\Users\\Lenovo\\OneDrive\\Desktop\\Juypter_projects'

In [127]:
import joblib

In [128]:
# Save the model as pickel file
joblib.dump(model, "medical_insurance_model.pkl")

['medical_insurance_model.pkl']

In [129]:
# load the model from the file
loaded_model = joblib.load("medical_insurance_model.pkl")

In [130]:
X_train[0]

array([0.80434783, 1.        , 0.39117568, 0.        , 3.        ])

In [131]:
df2.head(1)

        age  sex       bmi  children  smoker  region    charges
0  0.021739    1  0.321227         0       1       3  16884.924

In [132]:
age = float(input("Enter the age: "))
sex = float(input("Enter the sex: " ))
bmi = float(input("Enter the bmi: "))
smoker = float(input("Enter whether you are smoker or not: "))
region = float(input("Enter the region you belong: "))

Enter the age:  20
Enter the sex:  1
Enter the bmi:  19
Enter whether you are smoker or not:  1
Enter the region you belong:  0

In [133]:
X_new = np.array([[age, sex, bmi, smoker, region]])

In [134]:
X_new

array([[20.,  1., 19.,  1.,  0.]])

In [135]:
result = loaded_model.predict(X_new)
result

array([7.94920848])